<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unagi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
 
  </head>  
  <body>
    <header><h1>
   Unagi     
      </h1></header>
    <div id="game-init" class="game-init">
      <div id="firstStep">
       <div>
          <button id="newGame">
          New Game
        </button> 
     </div>
     <div>
        <h3>
          OR Join a Game
        </h3>   
      </div>
      <div>
        <input type="text" name="JoinNameInput" placeholder="Type Name Here"/>
        <input type="text" name="GameId" placeholder="Type Game Id Here">
        <button id="joinGame">
          Join Game
        </button>
        </div>
      </div>
      <div id="howManyPlayers" class="hide">  
      <h2>
      How Many Players?
      </h2>
      <select id="select">
        <option value="">Select</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
      </select>
        <input type="text" id="nameInput" placeholder="Type in Your Name HERE"/>
        <button id="startGame">
          Start Game
        </button>
        </div>
    </div>
    
 <!-- Start of Teamate's Container -->   
  <div id="teamateContainer" class="hide">
    <div class="container">
      <div id="player1" class="teamatesHand">
        <div>
          Player 1
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
      </div>
      <div id="player2" class="teamatesHand">
        <div>
          Player 2
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
      </div>
      <div id="player3" class="teamatesHand">
        <div>
          Player 3
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
      </div>
      <div id="player4" class="teamatesHand">
        <div>
          Player 4
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
      </div>
      </div>
    </div>
<!--End of Teamate's Container -->    
<!-- Start of Player's Container --> 
    <div id="cardHolder" class="card-holder hide">
      <div  class="card">
        <h3>
          Card 1
        </h3>
        <div class="notes">
          <h4>
            Hints Given
          </h4>
        
          </div>
        <div class="personal notes">
          <h4>
            Personal Notes
          </h4>
        </div>
      </div>
       <div  class="card">
        <h3>
          Card 2
        </h3>
        <div class="notes">
          <h4>
            Hints Given
          </h4>
        
          </div>
        <div class="personal notes">
          <h4>
            Personal Notes
          </h4>
        </div>
      </div>
       <div  class="card">
        <h3>
          Card 3
        </h3>
        <div class="notes">
          <h4>
            Hints Given
          </h4>
        
          </div>
        <div class="personal notes">
          <h4>
            Personal Notes
          </h4>
        </div>
      </div>
       <div  class="card">
        <h3>
          Card 4
        </h3>
        <div class="notes">
          <h4>
            Hints Given
          </h4>
        
          </div>
        <div class="personal notes">
          <h4>
            Personal Notes
          </h4>
        </div>
      </div>
       <div  id="optional-card" class="card">
        <h3>
          Card 5
        </h3>
        <div class="notes">
          <h4>
            Hints Given
          </h4>
        
          </div>
        <div class="personal notes">
          <h4>
            Personal Notes
          </h4>
        </div>
      </div>
    </div>
<!-- End of Player's Container -->    
<!-- Start discard Container -->    
<!-- End discard Container -->    
<!-- Start of Pile Container -->    
<!-- End of Pile Container -->   
       <script src="/client.js" defer></script>
  </body>
</html>
