<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unagi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/client.js" defer></script>
  </head>  
  <body>
    <header><h1>
   Unagi     
      </h1></header>
    <div id="game-init" class="game-init">
      <h2>
      How Many Players?
      </h2>
      <select id="select">
        <option value="">Select</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
      </select>
    </div>
 <!-- Start of Teamate's Container -->   
    <div id="teamateContainer">
      <div class="teamatesHand">
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
      </div>
      <div class="teamatesHand">
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
      </div>
      <div class="teamatesHand">
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
      </div>
      <div class="teamatesHand">
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
        <div class="teamatesCard">
          <h3>
            Color
          </h3>
          <h4>
            Number
          </h4>
        </div>
      </div>
    </div>
<!--End of Teamate's Container -->    
    <div id="cardHolder" class="card-holder hide">
      <div  class="card">
        <h2>
          Card 1
        </h2>
        <button class="button" onclick="consoleClick()">
          Clear
        </button>
        <div id="card1" class="notes">
        
          </div>
        </div>
      <div  class="card">
        <h2>
          Card 2
        </h2>
        <button class="button">
          Clear
        </button>
        <div id="card2" class="notes">
          
        </div>
      </div>
      <div  class="card">
        <h2>
          Card 3
        </h2>
        <button class="button">
          Clear
        </button>
        <div id="card3" class="notes">
          
        </div>
      </div>
      <div  class="card">
        <h2>
          Card 4
        </h2>
        <button class="button">
          Clear
        </button>
        <div id="card4" class="notes">
          
        </div>
      </div>
      <div id="optional-card" class="card" >
        <h2>
          Card 5
        </h2>
        <button class="button">
          Clear
        </button>
        <div id="card5" class="notes"  >
        </div>
      </div>
    </div>
    
  </body>
</html>
